body{
    display: flex; 
}
.cercle div {
    width: 50px;
    height: 50px;
    background-color:#965E47  ;
    border-radius: 50%;
}
.left-sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-sidebar  {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}