@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
    display: flex; 
    background: #F2F2F2;
    min-height: 100vh;
    margin: 0;
}
.cercle div {
    width: 20px;
    height: 20px;
    background-color:#965E47  ;
    border-radius: 50%;
}
.left-sidebar{
    padding-top: 5px;
    font-family: Figtree;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.navbar-sidebar  {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.50rem;
    border-radius: 0.5rem;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    gap: 4px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}   
.navbar-sidebar p {
    margin: 4px 0 0 0;
    font-size: 12px;
}
.navbar-sidebar svg {
    width: 24px;
    height: 24px;
}
.active {
    background-color: #8b5235; 
    border-radius: 10px;
    padding: 10px;
}
.active p {
    color: #fff;
}
.deconnetion{
    display: flex;
    width: 110px;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-top: 45px;
}
.left-sidebar a:hover{
    background-color: #965E47;
    border-radius: 16px;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}   
.left-sidebar, .deconnetion{
    gap: 50px;
}


.nav-title{
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-button{
    display: inline-block;
    padding: 16px 14px;
    font-family: Figtree;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    border: none;
    background: #fff;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.button-nav button:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}
.content{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    flex: 1;
    align-self: stretch;
    flex-wrap: wrap;
    width: 500px;

    
    }
.title-content{
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.container-item{

    display: inline-block;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #fff;
    height: max-content;
    border-radius: 16px;
    width: 300px;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 25px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.container-item img{
    border-radius: 16px;
    width: 90px;
    height: 90px;
    position: relative;
    object-fit: cover;   

}
.pic-item ,.container-item{
    padding-top: 15px;
}
.Part1 ,img {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    

}
.pantalon{
    color: #000000;
    text-align: left;
    font-family: "Figtree-Regular", sans-serif;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    opacity: 0.4;
    position: relative;
    align-self: stretch;

}
.sous-titre-item{
    color: #000000;
    text-align: left;
    font-family: "Figtree-Regular", sans-serif;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.price  {
    box-sizing: border-box;
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    display: flex;
}
.price span{
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5 {
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 10px ;
    
}
.button-color{
    display: flex;
    height: 30px;
    padding: 0px 12px 0px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 40px;
    background: #F2F2F2;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.button-color:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}
.button-color p {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.retrangle-1{
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background: #000;
}
.retrangle-2{
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background:#FFF;
}

.retrangle-4{
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background: #0D0072;
}
.retrangle-5{
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background: #965E47;
}
.retrangle-6{
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background: #007F1B;
}
.color{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.line-1{
    width: 246px;
    height: 1px;
    background: rgba(0, 0, 0, 0.20);
}
.button-panier{
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background-color: #965E47;
}
.button-panier span{
    color: #FFF;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-container-taille{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}
.taille{
    display: flex;
    height: 30px;
    min-width: 40px;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #F2F2F2;
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.taille:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}
.containers{
    column-count: 3;
    column-gap: 10px;
    width: 100%; ;
    position: relative;
    padding: 5px;
    
}
.button-panier:hover{
    background-color: #827757; 
    cursor: pointer; 
}
.container-item:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

* {
    font-family: 'Figtree', sans-serif;
}
.panier-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
:root {
    --brown: #965E47;
    --white: #FFFFFF;
    --semiWhite: #F8F8F8;
    --black: #000000;
    --shadow: rgba(0, 0, 0, 0.02);
}

.cart-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.cart-items {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-header {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px dotted var(--black);
}

.cart-title {
    text-align: center;
    margin: 0;
}

h3, p {
    margin: 0;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-controls {
    display: flex;
    justify-content: space-between;
}

.item-quantity {
    display: flex;
}

.btn-decrement, .btn-increment {
    padding: 8px;
    width: 24px;
    height: 24px;
    background: var(--brown);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: none;
    margin: 1px;
    cursor: pointer;
}

.quantity {
    margin: 0 5px;
}

.item-price {
    display: flex;
    align-items: center;
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
}

.total-label {
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.old-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
    opacity: 0.4;
}

.final-price {
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.item-img img {
    width: 70px;
    height: 70px;
}

.payment-section {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.payment-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-field {
    position: relative;
    margin: 15px 0;
}

.input-field {
    padding: 12px 20px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    border: 1px solid var(--black);
    z-index: -3;
    width: 100%;
}

.payment-field label {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 12px;
    background-color: var(--white);
    padding: 0 5px;
    color: var(--black);
    z-index: 3;
}

.payment-options {
    display: flex;
    justify-content: space-evenly;
}

.option-card, .option-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    background: var(--brown);
    color: var(--white);
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.option-card {
    width: 100px;
    flex-direction: column;
    background: var(--semiWhite);
    color: var(--brown);
    box-shadow: 0px 10px 20px var(--shadow);
    border-radius: 16px;
    margin: 5px;
   
}
.option-card-valider{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    color: #965E47;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.cart-item img {
    width: 70px;
    height: 70px;
    border-radius: 16px;
    padding-right: 5px;
}
.option-card-valider:hover{
    background-color: #965E47;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;

}
.option-card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
    background-color: #965E47;
    color:#FFFFFF ;
}
#panierSidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 10;
    transition: right 0.3s ease;
}

@media (max-width: 1200px) {
    .content {

    column-count: 2;
    
    }
  }
  
@media (max-width: 512px) {
    .content {
    column-count: 1;
    }
}
  